.topnav {
  border-radius: 50%;
  border-color: black;
  width:50px;
  height: 50px;
}

.topnav.selected {
  background-color: black;
  color: white;
}

.node-link {
  fill:none;
  stroke:gray;
  stroke-width: 2px;
}

.root {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.node {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.node.selected {
  fill: yellow;
}

.node text {
  fill:none;
  stroke:gray;
  stroke-width: 2px;
}

.connector-out {
  fill: white;
  stroke:black;
  stroke-width: 2px;
}

.connector-in {
  fill: black;
}

.badges {
  font-weight: bold;
  text-shadow: 2px -1px 2 gray;
}

.badges .get {
  fill: green;
}

.badges .post {
  fill: blue;
}

.badges .put {
  fill: orange;
}

.badges .delete {
  fill: red;
}

.badges .patch {
  fill: brown;
}

.badges text {
  fill: white;
}
