.github-corner-badge {
  position: absolute;
  top: 0;
  right: 0;
}

.button-bar-buffer {
  margin-top:20px;
}

/* Sketchy buttons */
.btn {
  border-radius: 255px 15px 225px 13px/15px 225px 15px 255px;
  border:solid 2px #41403E;
}

.landing-buttonbar {
  padding-left: 1.0em;
}

.registration-section {
  background-color: #62757f;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-right: 1.0em;
  margin-top: 2.0em;
}

.banner {
  padding-left: 1.0em;
  padding-bottom: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.copy {
  padding-left: 1.0em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}
