.github-corner-badge {
  position: absolute;
  top: 0;
  right: 0;
}

.button-bar-buffer {
  margin-top:20px;
}

/* Sketchy buttons */
.btn {
  border-radius: 255px 15px 225px 13px/15px 225px 15px 255px;
  border:solid 2px #41403E;
}
