.app-title {
  font-family: 'Cabin Sketch', cursive;
  cursor: pointer;
  padding-left: 15px;
  a,a:hover {
    text-decoration: none;
    color: black;
  }
}

/* Override the bootstrap colours for the logo link*/
#logo h1 {
  font-color: blue;
}

.topnav {
  border-radius: 50% !important;
  width:50px;
  height: 50px;
}


a.profilemenu{
  font-color: green;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
