.app-title {
  font-family: 'Cabin Sketch', cursive;
  cursor: pointer;
  padding-left: 15px;
  a,a:hover {
    text-decoration: none;
    color: black;
  }
}

/* Override the bootstrap colours for the logo link*/
#logo h1 {
  font-color: blue;
}

.alert-bar {
  height: auto;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  margin-bottom: 2.5em;
}

.export-btn {
  margin-left: 20px;
}

.sketch-btn {
  margin-left: 5px;
}
