.svg-wrapper {
  width: 100%;
  height: 100%;
}

#slide-canvas {
  width: 100%;
  height: 100%;
  position: relative;

/*
  -webkit-transform: translateX(0);
  transform: translateX(0);
*/
-moz-transform: translateX(0);
-ms-transform: translateX(0);
-o-transform: translateX(0);
-webkit-transform: translateX(0);
transform: translateX(0);

-moz-transform: translateZ(0) translateX(0);
-ms-transform: translateZ(0) translateX(0);
-o-transform: translateZ(0) translateX(0);
-webkit-transform: translateZ(0) translateX(0);
transform: translateZ(0) translateX(0);

-moz-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);

-moz-transition: 300ms ease all;
-ms-transition: 300ms ease all;
-o-transition: 300ms ease all;
-webkit-transition: 300ms ease all;
transition: 300ms ease all;

-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;

  padding: 5% 0; /* Temp: Just spacing. */
}

#side-nav {
  width: 300px;
  height: 100%;
  position: absolute;
  top: -20px;
  left: -250px;
  background: gray;
  padding: 15px;
}

#slide-wrapper.show-nav #slide-canvas {
  /*-webkit-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
  */
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  transform: translateX(250px);

  -moz-transform: translateZ(0) translateX(250px);
  -ms-transform: translateZ(0) translateX(250px);
  -o-transform: translateZ(0) translateX(250px);
  -webkit-transform: translateZ(0) translateX(250px);
  transform: translateZ(0) translateX(250px);

  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

.side-nav-tab {
  position: absolute;
  right: 0;
}

.sketch-canvas {
  padding-left: 1.0em;
}

.property-pane {
  background-color: white;
  height: 100%;
}

.zoom-controls {
  position: absolute;
  right: 10px;
  top: 10px;

}

/* React Split Pane */
.Resizer {
        background: #000;
        opacity: .2;
        z-index: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
}

  .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  .Resizer.horizontal {
    height: 5px;
    margin: -5px 0;
    border-top: 5px solid rgba(0, 0, 0, 0.8);
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
    cursor: row-resize;
    width: 100%;
  }

  .Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  }

  .Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
  }

  .Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
  
  Resizer.disabled {
    cursor: not-allowed;
  }

  Resizer.disabled:hover {
    border-color: transparent;
  }
    /*ENd of React split pane */
