.tree-link {
  fill:none;
  stroke:gray;
  stroke-width: 2px;
}

.root-node {
  fill:black;
}

.node-uri {
  fill:white;
  stroke:gray;
  stroke-width: 2px;
}

.selected-node-uri {
  fill: #fffde5;
  stroke:gray;
  stroke-width: 5px;
}

.parameterized-node-uri {
  stroke-dasharray: 5, 5;
}


.node-internal-border {
  stroke: gray;
  stroke-width: 1px;
}

.connector-out {
  cursor: pointer;
  fill: white;
  stroke:black;
  stroke-width: 2px;
}
.connector-out-disabled {
  pointer-events: none;
  fill: white;
  stroke:black;
  stroke-width: 2px;
}

.connector-in {
  fill: black;
}

.context-menu {
  fill: white;
  stroke: black;
}
.delete-button {
  cursor: pointer;
  fill: black;
}

.fa-icon-text {
  fill: black;
}

.badges {
  font-weight: bold;
  text-shadow: 2px -1px 2 gray;
  .get {
    fill: #179603;
    stroke: white;
    stroke-width: 2;
  }
  .post {
    fill: #706900;
    stroke: white;
    stroke-width: 2;
  }
  .put {
    fill: #1400f5;
    stroke: white;
    stroke-width: 2;
  }
  .delete {
    fill: #ad0300;
    stroke: white;
    stroke-width: 2;
  }
  .patch {
    fill: #008ead;
    stroke: white;
    stroke-width: 2;
  }
  text {
    fill: white;
  }
}
