.tree-link {
  fill:none;
  stroke:gray;
  stroke-width: 2px;
}

.node-uri {
  fill:white;
  stroke:gray;
  stroke-width: 2px;
}

.node-internal-border {
  stroke: gray;
  stroke-width: 1px;
}

.connector-out {
  fill: white;
  stroke:black;
  stroke-width: 2px;
}

.connector-in {
  fill: black;
}

.badges {
  font-weight: bold;
  text-shadow: 2px -1px 2 gray;
}

.badges .get {
  fill: green;
}

.badges .post {
  fill: blue;
}

.badges .put {
  fill: orange;
}

.badges .delete {
  fill: red;
}

.badges .patch {
  fill: brown;
}

.badges text {
  fill: white;
}
